@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0%;
  outline: none;
  box-sizing: border-box;
  font-family: "Open sans";
}

:root {
  --320Width: 1334px;
  --425Width: 1362px;
  --listimagesizeadd: 28px;
}

@media only screen and (max-width: 370px) {
  body .logo-Image {
    padding: 8px 0px 8px 70px;
  }
  body .nav-Conatiner {
    margin-left: 400px;
  }
  body .top-Image {
    width: var(--320Width);
  }
  body .descrip-Container {
    display: flex;
    width: var(--320Width);
  }
  body .getInShapeNow-Container {
    flex: 50%;
  }
  body .destinationForSports-Container {
    flex: 50%;
  }
  body .freeNutritionPlans-Container {
    flex: 50%;
  }
  body .gold-Gym-Image {
    width: var(--320Width);
  }
  body .gold-Gym-Container {
    width: -moz-fit-content;
    width: fit-content;
  }
  body .calsses-To-Take-Container {
    width: var(--320Width);
  }
  body .classes-List-Container img {
    width: 427px;
  }
  body footer {
    width: 1280px;
  }
}
@media only screen and (min-width: 370px) and (max-width: 1379px) {
  body .logo-Image {
    padding: 8px 0px 8px 70px;
  }
  body .nav-Conatiner {
    margin-left: 400px;
  }
  body .top-Image {
    width: var(--425Width);
  }
  body .descrip-Container {
    display: flex;
    width: var(--425Width);
  }
  body .getInShapeNow-Container {
    flex: 50%;
  }
  body .destinationForSports-Container {
    flex: 50%;
  }
  body .freeNutritionPlans-Container {
    flex: 50%;
  }
  body .gold-Gym-Image {
    width: var(--425Width);
  }
  body .gold-Gym-Container {
    width: -moz-fit-content;
    width: fit-content;
  }
  body .calsses-To-Take-Container {
    width: var(--425Width);
  }
  body .classes-List-Container img {
    width: calc(427px + var(--listimagesizeadd));
  }
  body footer {
    width: calc(1334px + var(--listimagesizeadd));
  }
}
@media screen and (min-width: 1379px) and (max-width: 1440px) {
  body .logo-Image {
    padding: 8px 0px 8px 139px;
  }
  body .top-Image {
    width: -webkit-fill-available;
  }
  body .descrip-Container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: -webkit-fill-available;
  }
  body .getInShapeNow-Container {
    width: 388.6px;
  }
  body .destinationForSports-Container {
    width: 388.6px;
  }
  body .freeNutritionPlans-Container {
    width: 388.6px;
  }
  body .gold-Gym-Image {
    width: -webkit-fill-available;
  }
  body .classes-List-Container img {
    width: 480px;
  }
}
body header .head-Conatiner {
  height: 84px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
body header .head-Conatiner .nav-Conatiner {
  display: flex;
  font-size: 20px;
  padding-right: 149px;
  padding-top: 29px;
}
body header .head-Conatiner .nav-Conatiner ul {
  display: flex;
  list-style-type: none;
}
body header .head-Conatiner .nav-Conatiner li {
  text-align: left;
  font: normal normal normal 20px/27px Open Sans;
  font-size: 20px;
  color: #707070;
  padding-right: 10px;
}
body header .head-Conatiner .nav-Conatiner p {
  padding-right: 15px;
  font: normal normal 600 20px/27px Open Sans;
}
body .top-Image-Container .top-Image {
  height: 922px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .descrip-Container {
  height: 290px;
  padding: 0px 137px 0px 137px;
}
body .descrip-Container .getInShapeNow-Container {
  background: #d63d2d;
  opacity: 1;
  height: 290px;
}
body .descrip-Container .getInShapeNow-Container :first-child {
  margin-top: 83px;
  margin-bottom: 29px;
  text-align: center;
  font: normal normal bold 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  white-space: nowrap;
}
body .descrip-Container .getInShapeNow-Container :last-child {
  margin-top: 29px;
  margin-left: 59px;
  margin-right: 59px;
  margin-bottom: 76.61px;
  text-align: center;
  font: normal normal normal 14px/15px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
body .descrip-Container .destinationForSports-Container {
  height: 290px;
  background: #292929 0% 0% no-repeat padding-box;
  opacity: 1;
}
body .descrip-Container .destinationForSports-Container :first-child {
  margin-top: 83px;
  margin-bottom: 29px;
  text-align: center;
  font: normal normal bold 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  white-space: nowrap;
}
body .descrip-Container .destinationForSports-Container :last-child {
  margin-top: 29px;
  margin-left: 59px;
  margin-right: 59px;
  margin-bottom: 76.61px;
  text-align: center;
  font: normal normal normal 14px/15px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
body .descrip-Container .freeNutritionPlans-Container {
  height: 290px;
  background: #3c3c3c 0% 0% no-repeat padding-box;
  opacity: 1;
}
body .descrip-Container .freeNutritionPlans-Container :first-child {
  margin-top: 83px;
  margin-bottom: 29px;
  text-align: center;
  font: normal normal bold 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  white-space: nowrap;
}
body .descrip-Container .freeNutritionPlans-Container :last-child {
  margin-top: 29px;
  margin-left: 59px;
  margin-right: 59px;
  margin-bottom: 76.61px;
  text-align: center;
  font: normal normal normal 14px/15px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
body .gold-Gym-Container {
  position: relative;
  padding-top: 63.39px;
}
body .gold-Gym-Container .gold-Gym-Image {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  background: transparent url("img/2b0l0zj6.png") 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
body .gold-Gym-Container .gold-Gym-Sentence {
  position: absolute;
  top: 50%;
}
body .gold-Gym-Container .gold-Gym-Sentence :first-child {
  text-align: center;
  font: normal normal bold 50px/68px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
body .gold-Gym-Container .gold-Gym-Sentence :last-child {
  padding: 0px 220px;
  text-align: center;
  font: normal normal normal 15px/24px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
body .calsses-To-Take-Container {
  text-align: center;
  margin-top: 79px;
}
body .calsses-To-Take-Container :first-child {
  text-align: center;
  font: normal normal bold 50px/68px Open Sans;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}
body .calsses-To-Take-Container :nth-child(2) {
  padding: 29px 260px 0px;
}
body .classes-List-Container {
  margin-top: 79px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 0;
}
body .classes-List-Container img {
  background: transparent url("img/hero-3-705x338.png") 0% 0% no-repeat padding-box;
  border: 10px solid #000000;
  opacity: 1;
}
body .classes-List-Container .list-Cont {
  position: relative;
}
body .classes-List-Container .list-Cont :last-child {
  position: absolute;
  width: 480px;
  top: 50%;
  text-align: center;
  font: normal normal bold 30px/35px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

footer {
  background: #191919 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 90px;
  padding-top: 31px;
}
footer p {
  text-align: center;
  font: normal normal normal 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #7c7575;
  opacity: 1;
}/*# sourceMappingURL=stylr.css.map */